body {
  background-color: #f8f5f0;
}

header {
  /* background-color: #e1dbd0d6; */
  padding: 3%;
  margin: 0 auto;
  position: sticky;
  top: 0px;
}

header nav ul {
  display: flex;
  margin: 0% auto;
  list-style-type: none;
  overflow-x: auto;
  justify-content: space-around;
  flex-flow: wrap;
}

li {
  display: inline-flex;
  color: #fff6cc;
}

a {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-decoration: none;
  color: #2b328e;
  font-size: 2rem;
}

footer {
  background-color: #f59ba8;
  padding: 5%;
  font-family: monospace;
}
